body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background-color: #8d8d8d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.attempts div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.attempts span {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin-right: 5px;
}

.input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#guess-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#submit-guess {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#submit-guess:hover {
    background-color: #0056b3;
}

.result-message {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
