body {
    background-color: #49463d;    
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    box-shadow: inset 0 0 500px rgba(185, 182, 179, 0.616); 
    z-index: 1;
}

.title{
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    border: none;
    font-size: 4vw;
    margin-bottom: 3vw;
    font-family: 'BodoniModa';
}

.game-container {
    text-align: center;
    background-color: #49463d;
}

.guess-input, .btn-primary {
    margin: 20px 0;
    width: 100%;
    background-color: #49463d;
}

#guess-input {
    flex-grow: 1;
}

#submit-guess {
    background-color: #49463d; /* Bootstrap primary blue by default */
    color: white; /* Text color */
    border: 1px solid #49463d; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* To change the appearance on hover */
#submit-guess:hover {
    background-color: #35332c; /* Darker shade of blue for hover effect */
    border-color: #35332c;
}

.past-guesses {
    list-style-type: none;
    padding: 0;
}

.past-guesses li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }


h1 {
    color: whitesmoke
}


.suggestion-box {
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 100%;
    left: 0; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

.suggestion-box::-webkit-scrollbar-track {
    background: #ada384; /* Track color */
    border-radius: 10px;
}

.suggestion-box::-webkit-scrollbar-thumb {
    background: #000000; /* Thumb color */
    border-radius: 10px;
}

.suggestion-box::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb hover color */
}

.suggestion-box::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}

.suggestion-item{
    color: #fcfcfc;
}

.suggestion-item:hover{
    color: #252114;
    background-color: #ada384;
}

.suggestion-item.selected {
    background-color: #ada384;
}

.input-area {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 400px;
    margin: auto;
    margin-top: 40px;
}


.cell {
    display: inline-block;
    padding: 10px;
    margin: 0 4px;
    margin-right: -3px;
    margin-left: -3px;
    border: 1px solid antiquewhite;
    text-align: center;
    color: white;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.cell.black { 
    background-color: #000000;
 } 
.cell.green { 
    background-color: #3f9b4a; 
    box-shadow: 0 0 40px #3f9b4a;
} 
.cell.yellow { 
    background-color: #e9974a; 
    box-shadow: 0 0 40px #fcb75d;
} 

.matrix-row {
    display: grid;
    grid-template-columns: 300px 250px 100px 100px 350px;
    gap: 10px;
    align-items: center; 
    margin-bottom: 3px;
  }

.header{
background-color: transparent;
color: #FFF;
text-align: center;
font-weight: bold;
font-family: 'BodoniModa';
border: none;
border-bottom: 1px solid #ccc;
}

@font-face {
font-family: 'BodoniModa';
src: url('public/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf') format('ttf');
font-weight: normal;
font-style: normal;
}