body {
    font-family: 'Arial', sans-serif;
    background-color: #49463d;
}

.game-container {
    text-align: center;
    background-color: #49463d;
}

.guess-input, .btn-primary {
    margin: 20px 0;
    width: 100%;
    background-color: #49463d;
}

#guess-input {
    flex-grow: 1; /* Allows the input to grow and fill the space */
    /* Other styles... (no need to set width here) */
}

#submit-guess {
    background-color: #49463d; /* Bootstrap primary blue by default */
    color: white; /* Text color */
    border: 1px solid #49463d; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* To change the appearance on hover */
#submit-guess:hover {
    background-color: #35332c; /* Darker shade of blue for hover effect */
    border-color: #35332c;
}

.past-guesses {
    list-style-type: none;
    padding: 0;
}

.past-guesses li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.green {
    background-color: #598b56;
}

.yellow {
    background-color: #ffc107;
}

.gray {
    background-color: #e0e0e0;
}


body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }


h1 {
    color: whitesmoke
}



.suggestion-box {
    background-color: white;
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 100%;
    left: 0; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
}

.input-area {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 300px;
    margin: auto;
    margin-top: 40px;
}


.cell {
    display: inline-block;
    padding: 10px;
    margin: 0 4px;
    border: 1px solid antiquewhite;
    text-align: center;
    color: white;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7); /* Adjust color and glow strength */
}

.cell.black { 
    background-color: #000000;
    box-shadow: 0 0 40px #333;
 } 
.cell.green { 
    background-color: #246126; 
    box-shadow: 0 0 40px #3f9b4a;
} 
.cell.yellow { 
    background-color: #e9974a; 
    box-shadow: 0 0 40px #fcb75d;
} 

.matrix-row {
    display: grid;
    grid-template-columns: 300px 250px 100px 100px 350px;
    gap: 10px;
    align-items: center; 
    margin-bottom: 20px;
  }
